<p>
  <b>Name:</b>
  <%= @provider.name %>
</p>

<p>
  <b>Address:</b>
  <%= @provider.address %>
</p>

<p>
  <b>Description:</b>
  <%= @provider.description %>
</p>


<%= link_to 'Back', providers_path %>
