BODY {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.main {
	margin-left: auto;
	margin-right: auto;
}
.side-navigation {
	width: 200px;
	float: left;
	margin-right: 10px;
}
.wrap {
	width: 780px;
	float: left;
	margin-left: 10px;
}
.content {
}
